.crud-edit-container {
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-areas:
            "a a"
            "b c";
    grid-gap: 2em;
    /*padding: 1em;*/
}

.crud-edit-fields {
    grid-area: a;
}

.crud-edit-buttons-save-cancel {
    grid-area: b;
}

.crud-edit-buttons-delete {
    grid-area: c;
    text-align: right;
}

.crud-show-hidden {
    font-size: smaller;
    display: flex;
    flex-direction: row-reverse;
}