.report-options-container {
    display: grid;
    /*grid-gap: 0.5em;*/
}

.report-options {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.report-buttons {
    padding-top: 0.5em;
}

.report-view-overview-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
            "a b c";
}

.report-view-overview-profit {
    grid-area: a;
    text-align: center;
}

.report-view-overview-owed {
    grid-area: b;
    text-align: center;
}

.report-view-overview-cash {
    grid-area: c;
    text-align: center;
}

.report-view-container {
    border-top: unset;
}

.report-view-container td, th {
    /*padding: unset;*/
    padding-bottom: 0.3125em;
    padding-top: 0.3125em;
    white-space: nowrap;
    font-size: smaller;
}

.report-view-container th {
    border-bottom: unset;
    /*background-color: lightgray;*/
}

.report-view-merged-col {
    text-align: center;
}

.report-view-note-col {
    text-align: center;
    padding: unset;
}

.report-view-invoice-col {
    text-align: center;
    padding: unset;
}

.report-view-alternate-col {
    background-color: whitesmoke;
}

.report-view-amount-col {
    text-align: right;
}

.report-view-amount-owe {
    color: orange;
}

.report-view-amount-neg {
    color: red;
}

.report-view-amount-pos {
    color: blue;
}

.report-edit-component-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
            "a b"
            "c c";
}

.report-edit-component-amount {
    grid-area: a;
}

.report-edit-component-amount-prev {
    font-size: smaller;
    text-align: right;
}

.report-edit-component-invoice {
    grid-area: b;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-edit-component-note {
    grid-area: c;
}

.report-view-accounting {
    text-align: right;
    font-size: smaller;
}

.report-charge-col {
    display: flex;
    flex-direction: column;
}

.report-charge-col-icons {
    display: flex;
    flex-direction: row-reverse;
}

.report-charge-col-icon {
    padding-left: 0.3em;
}

.report-view-show-invoices {
    font-size: smaller;
    display: flex;
    flex-direction: row-reverse;
}

