html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

main {
    max-width: unset;
}

table {
    width: 100%;
}

.select-property {
    display: grid;
}

.buttons-save-cancel {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 0.5em;
}

.validation-error {
    font-size: small;
    color: red;
}

.scrollable-x {
    overflow-x: auto;
}

.scrollable-y {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 30vh;
}


